@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: "Inter", serif;
        font-optical-sizing: auto;
    }

    :root {

        /* navigation arrows */
        --swiper-navigation-color: #8A5324;

        /* pagination buttons */
        --swiper-pagination-color: #8A5324;
        --swiper-pagination-bullet-inactive-color: #8A5324;
    }

    .leaf-pattern {
        background-color: #f1f8e9;
        /* Light green base */
        background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0 Q45 15 30 30 Q15 45 30 60 Q45 45 60 30 Q45 15 30 0' fill='%2381c784' opacity='0.4'/%3E%3C/svg%3E");
        background-size: 60px 60px;
        background-repeat: repeat;
    }

}